@import url('https://fonts.googleapis.com/css?family=AR One Sans:700|Open Sans:400');

/* @media (prefers-color-scheme: light) {
  :root {
    --text: #0c0e0e;
    --background: #ecefef;
    --primary: #9c8c7c;
    --secondary: #dde4e4;
    --accent: #e97a0c;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --text: #f1f3f3;
    --background: #101313;
    --primary: #837363;
    --secondary: #1b2222;
    --accent: #f38516;
  }
}

body {
  font-family: 'Open Sans';
  font-weight: 400;
}

h1, h2, h3, h4, h5 {
  font-family: 'AR One Sans';
  font-weight: 700;
}

html {font-size: 100%;} /* 16px */

h1 {font-size: 4.210rem; /* 67.36px */}

h2 {font-size: 3.158rem; /* 50.56px */}

h3 {font-size: 2.369rem; /* 37.92px */}

h4 {font-size: 1.777rem; /* 28.48px */}

h5 {font-size: 1.333rem; /* 21.28px */}

small {font-size: 0.750rem; /* 12px */}

:root {
  --max-width: 1100px;
  --border-radius: 15px;
}



* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--text);
  background: var(--background);
}

a {
  color: inherit;
  text-decoration: none;
} 
